.places{
	border:0px;
	display:flex;
	flex-direction:column;
	padding-left:30px;
}

.places h1{
	font-size: 30px;
}

.articles{
	display:flex;
	align-items:  baseline;
	flex-wrap: wrap;
	justify-content: center;
}

.places article{
	width: 300px;
	margin: 20px;
	border: solid 1px #ff5a5f;
	border-radius: 4px;
	font-size: 30px;
	text-align: center;
}

articles h2{
	font-size: 30px;
	margin-top: -2px;
}
